.phase1head {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  color: #333;
}

.phase1para {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}